@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter/inter.ttf') format('truetype'),
       url('./assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'interBold';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype'),
       url('./assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  padding: 0px; /* Fixed typo from 'pdding' to 'padding' */
  color:transparent;
  background-color:white;
}

* {
  font-family: 'inter';
}
.top-nav{
  position:fixed;
  width:100%;
  color:black;
  z-index:10;
  background-color:white;
}


.upper-nav {
  font-family: 'inter';
  font-size: 50%;
  font-weight: 100;
  color: #374151;
  text-decoration: none;
}
.logo{
  width:50vw;
}


.active{
  background-color:black;
  border-radius:20px;
  color:white;
  text-decoration: none;
}

/* NavBar.css */

.nav-link {
  color: inherit; /* Inherit the color from the parent */
  transition: none; /* Remove transition effect on hover */
}

.nav-link:hover{
  color: inherit; /* Prevent color change on hover or active state */
  text-decoration: none; /* Prevent underline on hover */
}
.nav-link:focus{
  color: inherit; /* Prevent color change on hover or active state */
  text-decoration: none; /* Prevent underline on hover */
}
.nav-link.active{
  color: white; /* Prevent color change on hover or active state */
  text-decoration: none; /* Prevent underline on hover */
}


.gem{
  background: linear-gradient(to bottom right, #F2D884, #F99F92);

}


.body {
  padding-top:22vh;
  color:black;
}


.searchContainer{
  position:fixed;
  z-index:5;
  top: 25vh;
  left : 13vw;
  padding:15px;
}

.search-input {
  position: relative;
  width: 100%;
}

.search-input input {
  padding-left: 35px; /* to make room for the search icon */
}

.search-input .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #a0a0a0;
}

.desktop{
  display:none;
}

.mobile{
  display: block;
}


.related_business_search_div{
  height:40%;
}




/* Media Query for Desktop Screens */
@media (min-width: 768px) {

  .related_business_search_div{
    margin-bottom:5%;
    height:60%;
  }

  .desktop{
    display:block;
  }
  .mobile{
    display:none;
  }
  
  

  .searchContainer{
    position:fixed;
    z-index:5;
    top: 20vh;
    left : 5vw;
    padding:15px;
  }
  
  .upper-nav {
    font-size: 70%; /* Adjust font size for desktop */
    font-weight: 400; /* Adjust font weight if needed */
  }

  .post-button {
    padding: 0.8%; /* Adjust padding for desktop */
  }
  .logo{
    width:20vw;
  }

  /* Add any additional styles for desktop here */
  body {
    /* Add body styles specific to desktop */
    background-color: #f0f0f0; /* Example background color */
  }
  .body {
    padding-top:15vh;
  }
}
